@import '../../style/colors.scss';
@import '../../style/type.scss';

.App {
  text-align: center;
}

.App-header {
  background-color: $colorPrimary;
  height: 150px;
  padding: 20px;
  color: $colorText;
  font-family: $font1;
}

.App-intro {
  font-size: large;
  font-family: $font1;
}
