@import '../../style/colors.scss';
@import '../../style/type.scss';


:local(.textInput){
  background: $colorPrimary;
  color: $colorText;
  font-family: $font1;
  bottom: 0;
  height: 90px;
}

:local(.tiButton){
  position: absolute;
  background: $colorAccent1;
  font-size: 16pt;
  padding: 10px;
  border: 1px solid darken($colorAccent1,10%);
  box-shadow: 1px 1px 1px grey;
  margin: 20px 0px;
}

:local(.tiInput){
  position: absolute;
  background: $colorText;
  height: 40px;
  font-size: 24pt;
  color: black;
}
