@import '../../style/colors.scss';
@import '../../style/type.scss';


:local(.textInput){
  background: $colorPrimary;
  color: $colorText;
  font-family: $font1;
  bottom: 0;
  height: 90px;
}

:local(.messageInput){
  background: $colorText;
  // height: 35px;
  // padding-bottom: 12px;

  // background: $colorText;
  line-height: 47px;
  font-size: 20pt;
  border: 1px solid darken($colorAccent1,10%);
  box-shadow: 1px 1px 1px grey;
  border-right: 0px;
  // margin: 20px 0px;
  // color: black;
  // float : right;
}
