@import '../../style/colors.scss';
@import '../../style/type.scss';


:local(.nav){
  background: $colorPrimary;
  color: $colorText;
  font-family: $font1;
}

:local(.navBrand){
  text-align: left;
  font-size: 24pt;
}
